body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    text-align: center;
    margin-top: 50px;
}

h1, h2 {
    color: #333;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}


input[type="file"] {
    display: none;
}

label {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

label:hover {
    background-color: #0056b3;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    margin-left: 10px;
}

button:hover {
    background-color: #218838;
}

.copy-button {
    background-color: #ff3c66;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.copy-button:hover {
    background-color: #912138;
}


ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

textarea {
    width: 300px;
    height: 80px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
    margin-right: 10px;
    box-sizing: border-box;
}